<!DOCTYPE html>
<html dir="ltr" lang="en" data-theme="">
  <head>
    <title>{{ html.title }}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="Wellfed" />
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
    <meta name="description" content="{{ html.description }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">


    <style>
      body {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
      }
      .source {
        font-size: .9em;
        text-transform: capitalize;
        font-weight:bold;
      }
      .date {
        font-size: .9em;
        color:#494948;
      }
      a {
        color: #a03118;
        text-decoration: none;
        font-weight: bold;
      }
      h2 {
        font-weight:550;
      }
      .entry {
        border:1px #494948 solid;
        margin-bottom: 8px;
        padding: 0px 10px 10px 10px;
      }
      div.lead-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      div.full-content {
        display: none;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      div.sticky {
        background-color: #efefef;
      }
      #header {
        background-color: #b54329;
        color: #fff;
        padding: 3px 3px 3px 3px;
        min-height: 20px;
      }
      #header a {
        color: #fff;
        text-decoration:initial;
      }
      #title-logo {
        vertical-align: middle;
      }
      #atom-link {   
        float: right;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <span id="title">
        <!-- The fork and knife logo was uploaded to https://commons.wikimedia.org/wiki/File:Aiga_restaurant_knife-fork_crossed.png 
          by the "Copyleft" user (https://commons.wikimedia.org/wiki/User:Copyleft) and is released under the Creative Commons
          Attribution-ShareAlike license (https://creativecommons.org/licenses/by-sa/3.0/deed.en).
        -->
        <span id="title-logo"><img alt="Picture of fork and knife crossed like swords" src="favicon-16x16.png"></span>
        <span id="title-text"><a href="https://gitlab.com/jamie/wellfed">Wellfed</a> - {{ html.title }}</span>
      </span>
      <span id="atom-link"><a href="atom.xml">⚛️ Atom RSS Feed </a><span>
    </div>
    <div id="container">
    {% for entry in html.entries %}
    <div class="entry {{ entry.sticky_class }}">
        <div class="title">
          <h2>{{ entry.title }}</h2>
        </div>
        <div class="source">
          {{ entry.source }}
        </div>
	<div class="domain">
	  {{ entry.domain }}
	</div>
        <div class="date">
          {{ entry.date }}
        </div>
        <div class="summary">
          {% if entry.lead_image_src %}
            <div class="lead-image" style="background-image: url('{{ entry.lead_image_src }}');"></div>
          {% endif %}
          <div class="lead">
            {{ entry.summary }}
          </div>
        </div>
        <div class="full-content">
          <div><a href="{{ entry.link }}">Original Article</a></div>
          {{ entry.body }}
        </div>
      </div>
    {% endfor %}
    </div>
  </body>
  <script>
    // Get all the desired elements into a node list
    let elements = document.querySelectorAll(".entry");

    // Convert the node list into an Array so we can
    // safely use Array methods with it
    let elementsArray = Array.prototype.slice.call(elements);

    // Loop over the array of elements
    elementsArray.forEach(function(elem){
      // Assign an event handler
      elem.addEventListener("click", function(){
        // Toggle between summary and body.
        var summary = null;
        var full_content = null;
        this.childNodes.forEach(function(child) {
          if (child.className == "summary") {
            summary = child;
          }
          else if (child.className == "full-content") {
            full_content = child;
          }
        });
        if (full_content.style.display == "block") {
          summary.style.display = "block"; 
          summary.parentNode.scrollIntoView();
          full_content.style.display = "none"; 
        }
        else {
          summary.style.display = "none"; 
          full_content.style.display = "block"; 
        }
      });
    }); 
    window.onbeforeunload = function(event) {
      // Ensure all nodes are collapsed so if we navigate
      // back, we will end up in the same place.
      let elements = document.querySelectorAll(".entry");
      let elementsArray = Array.prototype.slice.call(elements);
      // Loop over the array of elements
      elementsArray.forEach(function(elem){
        var summary = null;
        var full_content = null;
        elem.childNodes.forEach(function(child) {
          if (child.className == "summary") {
            summary = child;
          }
          else if (child.className == "full-content") {
            full_content = child;
          }
        });
        if (full_content.style.display == "block") {
          summary.style.display = "block";
          full_content.style.display = "none";
        }
      });
    };

  </script>
</html>
  
  
